.cta-container {
    background-color: #0054c95a; /* Dark green background */
    color:#001771; /* White text */
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
  }
  
  .cta-subtitle {
    font-size: 18px;
    color: #001562; /* Orange text */
    margin-bottom: 10px;
  }
  
  .cta-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .cta-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .cta-input {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 16px;
    color: #e4e2df;
    background: linear-gradient(to right, #004773, #00263ad4); /* Gradient background */
  }
  

.running-camp-card-bg{
  background:  #004973f0;
  color: #ffa500;
}
.running-camp-card-bg-hover:hover{
  background: linear-gradient(to right, #003893c2, #001934fd);
  /* transition: 2s; */
  color:#f49016;
  /* font-weight: 500; */
}
.running-camp-card-btn{
  background:#41acf8  ;
  color: #0a4b9a;
}
.running-camp-card-btn-hover:hover{
  background: linear-gradient(to right, #ffba66, #ff8e04);
  color: #00453d;
  font-weight: 500;
}


  .cta-input::placeholder {
    color: #c4c4c4; /* Placeholder text color */
  }

  .cta-select{
    background-color: #fe9b22be;
    color: #00122c;
    font-weight: 600;
  }
  .cta-select-hover:hover{
    background-color: #005a4e;
    color: #ff8c00;
  }
  
  .cta-button {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #bcd5ff;
    background-color: #002655; /* Yellow button background */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #00428e8c; /* Darker yellow on hover */
    color: #001a47;
  }
  




  .cta-textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(to right, #0058b1d2, #002576);
    resize: none;
  }
  
  .cta-textarea::placeholder {
    color: #ffffff;
    /* font-size: 16px; */
  
  }
  
  .read-only {
    background-color: #003464; /* Match container background */
    color:#cbebff;
    cursor: not-allowed;
    font-weight: 600;
  }